{% extends 'base.html'%}
{% load static%}
{% block title %}About US|fastfood {% endblock%}
{% block content%}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="about-container">
    <h1>FRESH JUICE & SNACKS CENTER</h1>
</div>
<div class="about">
    <div class="about1">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis urna id urna eleifend congue. Phasellus sed convallis felis. Aliquam vel libero vitae urna semper elementum.</p>
        <p>Integer auctor nisi sit amet enim euismod, eget ultricies lacus tempus. Quisque tincidunt velit eget nunc lobortis condimentum.</p>
        <div class="message">
            <h1>Thank you for visiting our website!</h1>
            <h3>We look forward to seeing you again.</h3>
        </div>
    </div>
</div>

{% endblock%}
