{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>FRESH JUICE & SNACKS CENTER</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand text-center" href="#" style="margin:auto">VASANT JUICE & SNACKS CENTER</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav m-auto my-2 my-lg-0 mx-0.5">
              <li class="nav-item ">
                <a class="nav-link active " href="{% url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'aboutus' %}">AboutUs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'product_fav_list'%}">
                    Fav
                </a>
               
              </li>
             
            </ul>
           

        <!---->
        {% if request.user.username%}
        <a class="btn btn-warning mx-2" href="{% url 'login' %}" role="button">{{request.user.username}}</a>

        <a class="btn mx-2" href="{% url 'logout' %}" role="button" id="button">Logout</a>

        {% else%}
        <a class="btn btn-warning mx-0.5" href="{% url 'login' %}" role="button">Login</a>
        <a class="btn btn-success mx-0.5" href="{% url 'register'%}" role="button" id="button">register</a>

        {% endif %}

        
        <a href="{% url 'cart' %}"><svg xmlns="http://www.w3.org/2000/svg "width="30" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></a>
       
        <!---->

            <form class="d-flex mx-2 " action="{% url 'search' %}">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
              <button class="btn0 mx-2" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
<!--============================== nav bar end  ========================================-->

<section class="container-fluid">
        
    {%block content %}

     

    {%endblock%}
 </section>    




<!--footer start-->
<section class="news py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-9 m-auto text-center">
                <h1>Join Our Website</h1>
                <input type="text"  class="px-3" placeholder="Enter your email">
                <button class="btn2"> Submit</button>
            </div>
        </div>
        <div class="social-icons">
            <h3>Social Media</h3>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
            
        </div>
    </div>
</section>
<!--================================footer end=================================================-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="{% static 'js/script.js'%}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>